form {
    padding: 50px;
    box-shadow: 0 0 20px;
    border-radius: 20px;
    text-align: center;
    width: 500px;
    color: rgb(103, 18, 18);

}
.input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
}
h2{
    color: rgb(155, 0, 28);
    font-size: 25px;
}
label{
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    margin-bottom: 15px;
}
input, textarea{
    padding: 17px 25px;
    border-radius: 25px;
    background-color:  rgb(155, 0, 28);
    border: 2px;
    outline: none;
}
input::placeholder, textarea::placeholder{
    color:rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.form-txt a{
    color:  rgb(155, 0, 28);
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}
.btn{
    font-size: 16px;
    color: rgb(255, 255, 255);
    border-radius: 25px;
    background-color:  rgb(155, 0, 28);
    box-shadow: 0 0 20px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(0, 0, 0);
}
@media(max-width:910px){
    body{
        padding: 30px;
    }
    form{
        padding: 50px 30px;
        width: 100%;
    }
    input{
        padding: 15px;
    }
}